.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.draw-area {
  border: 2px dashed #0a7cc4;
  border-radius: 4px;
}

.result-area {
  background-color: #0a7cc4;
  color: white;
  border-radius: 4px;
  width: 280px;
  min-height: 280px;
  padding: 4px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.result-area .row {
  padding: 4px;
}

.result-area .row.highlight {
  background-color: #b812b7;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #00000040;
}

.result-area .row label {
  font-weight: bolder;
  display: inline-block;
  width: 23px;
}

button {
  background: radial-gradient(circle at bottom right, #00b89c 0, #0a7cc4 100%);
  border: 1px solid #0a7cc4;
  color: white;
  outline: none;
  box-shadow: 1px 1px 3px #00000040;
  height: 1.7em;
  border-radius: 0.85em;
  margin: 5px;
  cursor: pointer;
  transition: 100ms ease-in-out box-shadow, 100ms ease-in-out background;
}

button:hover {
  box-shadow: 2px 2px 4px #00000040;
  background: radial-gradient(circle at bottom right, #009e86 0, #075485 100%);
  border: 1px solid #075485;
}
